.single-card-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.single-card {
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    width: 30%;
}

.single-card img {
    height: 200px;
    width: 30%;
}

.single-card__launch-details {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
